body {
  background-color: #ececec!important;
}

h1,
h2,
.welcome-text {
  margin-left: 16px;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
}

.welcome-text {
  margin-top: 0;
  font-size: 1.6em;
  max-width: 600px;
}

h2 {
  font-size: 2em;
  margin-bottom: 8px;
}

.dialog-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
}

.tile {
  transition: 100ms;
  cursor: pointer;
  margin-right: 8px;
}

.title-bar {
  transition: 100ms;
}

.tile:hover .title-bar {
  height: 100%;
  font-size: 1.3em;
}

.tile:hover .title-bar > div,
.tile:hover .title-bar > div > div {
  overflow: visible;
}

button {
  margin-left: 8px;
}
